<div class="container">
  <div class="login-card">
    <h2>Sign Up</h2>
    <div class="form-group">
      <input
        type="text"
        class="input-field"
        placeholder="User Name"
        required
        [(ngModel)]="formData().username"
      >
    </div>
    <div class="form-group">
      <input
        type="email"
        [(ngModel)]="formData().email"
        class="input-field"
        placeholder="Email"
        required
      >
      <input
        type="password"
        [(ngModel)]="formData().password"
        class="input-field"
        placeholder="Password"
        required
      >
    </div>
    <button type="button" class="signup-btn" (click)="onSubmit()">Sign up</button>

    <div class="login-link">
      <span>Already signed up?</span>
      <a class="link" [routerLink]="loginRouterLink"> Log in</a>
    </div>
  </div>
</div>
